<ng-wa-table
  [isDataLoaded]="true"
  [tableColumns]="tableColumns"
  [tableData]="items"
  [tableHeight]="48"
  [tableHeaders]="tableHeaders"
  [noItemsAvailable]="noItemsAvailable"
  [filterSearchAvailability]="true"
  [filterAvailability]="true"
  [mainContainerPadding]="'0 10% 0 10%'"
  [headerFontSize]="'14px'"
  [bodyFontSize]="'14px'"
  [bodyTxtColor]="'black'"
  [searchBarColor]="'black'" 
  [searchBarTxtColor]="'white'"
  [searchPlaceholderColor]="'white'"
  [searchIconColor]="'white'"
  [filterIconColor]="'black'"
  [filterTextColor]="'black'"
  [tableHeaderColor]="'green'"
  [headerTxtColor]="'white'"
  (onEditClick)="onEditClick($event)"
  (onDeleteClick)="onDeleteClick($event)"
  [sortName_asc]="sortItemName_asc"
  [sortName_dsc]="sortItemName_dsc"
  (itemSort)="itemNameSort()"
  (search)="searchItems($event)"
  [filterTags]="filterTags"
  [tagActive]="tagActive"
  (tagPressed)="tagPressed($event)"
  [gapBetweenActions]="'12%'"
></ng-wa-table>
